.camStyling {
    position: relative;
    display: block;
    width: 270px;
    height: 150px;

    img {
        width: 100%;
    }

    p {
        position: absolute;
        top: 0;
        left: 2%;
        z-index: 99;
        color: #fff;
    }
}